body{
    background-image: url("../img/menuback.png");
    background-size: cover;
}
#logo{
    position: fixed;
    top: 15.5%;
}
#logo:hover{
    height: 250px;
    top: 13%;
    left: -5px;
}
#btn1{
    position: fixed;
    background-color: rgba(30%,0%,0%,0);
    border: none;
    width: 240px;
    height: 64px;
    font-size:30px;
    font-family: 'Gloria Hallelujah', cursive;
    top: 26%;
    left: 38%;
}
#btn1:hover{
    top: 130px;
    height: 100px;
}
#btn2{
    position: fixed;
    background-color: rgba(30%,0%,0%,0);
    border: none;
    width: 240px;
    height: 64px;
    font-size:30px;
    font-family: 'Gloria Hallelujah', cursive;
    top: 27%;
    right: 8%;
}
#btn2:hover{
    top: 130px;
    height: 100px;
}
#bazzi{
    position: fixed;
    bottom: 0px;
}
#rule{
    position: fixed;
    top: 4%;
    z-index:90;
}
#map{
    position: fixed;
    top: 4%;
    z-index:90;
}
#ruleclose{
    background-image: url("../img/close.png");
    background-size: cover;
    border: none;
    width:30px;
    height:30px;
    position: fixed;
    top: 4.5%;
    right: calc(50% - 395px);
    z-index:100;
}
#map1{
    background-image: url("../img/map1.png");
    background-size: cover;
    border: none;
    width:346px;
    height:180px;
    left: calc(50% - 173px);
    position: fixed;
    top: 22.4%;
    z-index:100;
}
#map2{
    background-image: url("../img/map2.png");
    background-size: cover;
    border: none;
    width:346px;
    height:180px;
    left: calc(50% - 173px);
    position: fixed;
    top: 60.8%;
    z-index:100;
}